# build
target/

# database
data/

# frontend
node_modules/

# env
.env

# IDE
.idea/
.vscode/

# large / backups / archives
*.zip
*.pdf
*.sql
*.png
*.mp3
api/files/
api/store1/arquivos/
ui-frontent/loja.zip
ui-frontent/loja/frontsrc.zip
